body {
    background-color: #DFB0A6;
    background-image: url(/img/fondo1.webp);
    background-size: auto;

}

* {
    font-family: arial;

}

#contenedor {
    color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    border: 1px solid black;
    margin: 0px auto;
    background-color: rgba(35, 37, 31, 0.8);
    min-height: 400px;
}

#cabecera {
    display: flex;
    border: 1px solid black;
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 50px;
    margin: 0px;
    justify-content: center;
    color: aliceblue;
    background: rgb(144, 214, 39);
    background: linear-gradient(27deg, rgba(144, 214, 39, 1) 0%, rgba(0, 0, 0, 1) 100%, rgba(233, 28, 28, 1) 100%);
}

#navegacion {
    display: flex;
    width: 100%;
    min-height: 50px;
    border: 1px solid black;
    text-align: center;
    list-style: none;
    justify-content: center;
    color: aliceblue;
}

#contenido {
    text-align: justify;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: center;
    min-height: 400px;
    text-align: center;
    color: aliceblue;
    flex-flow: row wrap;
    font-size: 25px;

}

nav a {
    list-style: none;
    color: rgb(10, 41, 15);
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: aliceblue;
}

ul {
    list-style: none;
    text-decoration: none
}

.clearfix {
    clear: both;
}

.img1 {
    margin-top: 30px;
    width: 400px;
    justify-content: center;
    border-radius: 10px;
}

#pie {
    justify-content: center;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    color: aliceblue;
    background-color: black;

}

picture {
    justify-content: center;
}

.img2 {
    margin-top: 30px;
    width: 500px;
    justify-content: center;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: justify;
}

.caja picture {
    width: 290px;
    height: 70%;
    overflow: hidden;
    display: flex;
    border-radius: 15px;
}

.caja picture img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    border-radius: 20px;
}

.caja {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
    width: 600px;


}

.caja h3 {
    width: 300px;
    color: white;
}

section {
    font-size: 20px;

}

p {
    font-size: 20px;
    text-align: justify;
}

.contenedor--productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.productoAcceso {
    justify-content: space-between;
    padding-left: 200px;

}

.producto--boton {
    color: yellow;
}